.container {
    max-width: 1200px;
    margin: 0 auto;
}

.index__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index__table {
    thead {
        tr {
            th:not(:first-child) {
                text-align: center;
                min-width: 120px;
            }
        }
    }
}

thead {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th,
tr {
    padding: 8px;
}

td {
    padding: 4px;
    vertical-align: middle;
}

td:not(:nth-child(2), :nth-child(5)) {
    text-align: center;
}
